modelconfig_accountDb_connectionUrl: jdbc:oracle:oci:@{{ accountdb }}
modelconfig_accountDb_login: {{ accountdb_login }}
modelconfig_accountDb_password: {{ accountdb_password }}
modelconfig_appDb_connectionUrl: jdbc:oracle:oci:@{{ appdb }}
modelconfig_appDb_login: {{ appdb_login }}
modelconfig_appDb_password: {{ appdb_password }}
modelconfig_userDb_connectionUrl: jdbc:oracle:oci:@{{ userdb }}
modelconfig_userDb_login: {{ userdb_login }}
modelconfig_userDb_password: {{ userdb_password }}
