<?xml version="1.0" encoding="utf-8"?>
<euparc>
  <database>
    <user login='{{ userdb_username }}' password='{{ userdb_password }}' />
    <user login='{{ appdb_username }}' password='{{ appdb_password }}' />
  </database>
  <oauth>
    <client clientId='apicomponentsite' clientSecret='fakecreds' />
    <client clientId='globusgenomics' clientSecret='fakecreds' />
  </oauth>
</euparc>
