site         appDb_name    userDb_name    acctDb_name         appDb_login           userDb_login          acctDb_login
{{ vhost }}  {{ appdb }}  {{ userdb }}    {{ accountdb }}     {{ appdb_username }}  {{ userdb_username }} {{ accountdb_username }}
